<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Enter you message here</h4>
    <form method="post" action="add">
        <input type="text" name="text" placeholder="Enter message"/>
        <input type="text" name="tag" placeholder="Tag"/>
        <button type="submit">Add message</button>
    </form>


    <div><h4>Messages list:</h4></div>
    <div>
        <form method="post" action="filter">
            <input type="text" name="filter"/>
            <button type="submit">Find</button>
        </form>
    </div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <b>{{text}}</b>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</body>
</html>