<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>User information: </h2>
        <div>
            <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            </form>
        </div>
    <h4>Enter you message here</h4>
    <form method="post" action="add">
        <input type="text" name="text" placeholder="Enter message"/>
        <input type="text" name="tag" placeholder="Tag"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Add message</button>
    </form>


    <div><h4>Messages list:</h4></div>
    <div>
        <form method="post" action="filter">
            <input type="text" name="filter"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Find</button>
        </form>
    </div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <b>{{text}}</b>
            <i>{{tag}}</i>
            <strong>{{authorName}}</strong>
        </div>
    {{/messages}}

<div>
    <p></p>
    <a href="/">Return to home page</a>
</div>
</body>
</html>