<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="message" class="app.HelloMessage" name="message">
        <constructor-arg name="text" value="Alex"/>
    </bean>

    <bean id="renderer" class="app.MessageRenderer" name="renderer">
        <constructor-arg name="message" ref="message"/>
    </bean>
</beans>