<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>


<header th:insert="blocks/header :: header"></header>

<!--<p th:text="'Hello, ' + ${title} + '!'" />-->
<div class="container">
    <h3>This is about page</h3>
</div>



<div th:insert="blocks/footer :: footer"></div>

</body>
</html>